.navbar-brand {
  color: #ffe207;
}
.navbar-brand:hover {
  color: #fcc625;
}

.nav-link {
  margin: 0 1.6rem;
  color: #fff;
}
.nav-item .nav-link:hover {
  color: #ffc107;
}
.list-footer {
  color: #6c757d;
}
.list-footer:hover {
  color: #ddd;
}
hr {
  background-color: #fff;
  height: 3px;
}