body {
  background-color: #ddd;
}

.img {
  width: 50px;
}
.title {
  width: 250px;
  margin-left: 10px;
  line-height: 18px;
}
@media  screen and (max-width:500px) {
  body {
    background-color: #fff;
  }
}