.navbar-brand {
  color: #ffe207;
}
.navbar-brand:hover {
  color: #fcc625;
}

.nav-link {
  margin: 0 1.6rem;
  color: #fff;
}
.nav-item .nav-link:hover {
  color: #ffc107;
}
/* .navbar-brand::after {
  content: ' ^';
  position: relative;
  top: 5px;
} */