/* beranda */
.navbar-brand {
  color: #ffe207;
}
.navbar-brand:hover {
  color: #fcc625;
}

.nav-link {
  margin: 0 1.6rem;
  color: #fff;
}
.nav-item .nav-link:hover {
  color: #ffc107;
}
/* .navbar-brand::after {
  content: ' ^';
  position: relative;
  top: 5px;
} */

/* login */
body {
  background-color: #ddd;
}

.img {
  width: 50px;
}
.title {
  width: 250px;
  margin-left: 10px;
  line-height: 18px;
}
@media  screen and (max-width:500px) {
  body {
    background-color: #fff;
  }
}

/* kontak */
.list-footer {
  color: #6c757d;
}
.list-footer:hover {
  color: #ddd;
}
hr {
  background-color: #fff;
  height: 3px;
}